node_modules
**/node_modules
.next
**/.next
dist
**/dist
.turbo
.git
.local-node
.pnpm-store
.vscode
.DS_Store
.env
.env.*
!.env.example
npm-debug.log*
pnpm-debug.log*
Dockerfile*
compose*.yaml
compose*.yml
